.hero__wrapper {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url(/children-on-computer.jpg) no-repeat center 35%;
    background-size: cover;
    height: 400px;
}

.hero__title {
    text-shadow: 0 0 20px rgba(0,0,0,.45);
    font-family: 'Fascinate Inline', cursive;
    margin-bottom: 10px;
    font-size: calc(50px + 2vmin);
    color: white;
}

.hero__subtitle {
    text-shadow: 0 0 20px rgba(0,0,0,.65);
    font-style: italic;
    font-weight: bold;
    margin-top: 0px;
    font-size: calc(25px + 2vmin);
    color: white;
}

.landing__wrapper {
    padding: 30px 0;
    height: 350px;
}

.landing__wrapper:nth-child(2) {
    background-color: white;
    height: auto;
}

.landing__wrapper:nth-child(3) {
    background-color: grey;
}

.landing__wrapper:nth-child(4) {
    background-color: #01C76E;
}

.landing__wrapper:nth-child(5) {
    background-color: #F2F2F2;
    height: 400px;
}

.landing__title {
    text-transform: uppercase;
    font-size: calc(20px + 2vmin);
    font-weight: 700;
    margin: 0;
    padding: 15px 15px;
}

.landing__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin-bottom: 50px;
    font-size: calc(7px + 2vmin);
    padding: 0 15px;
}

.landing__image {
    height: 250px;
    width: 200px;
    border: 5px solid #FFD301;
    border-radius: 15px;
    margin: 20px 30px;
}

.landing__image:nth-of-type(1) {
    transform: rotateZ(-4deg);
}

.landing__image:nth-of-type(2) {
    transform: rotateZ(5deg);
}

.landing__image:nth-of-type(3) {
    transform: rotateZ(-1deg);
}


#signup {
    margin: 0 auto;
}

@media only screen and (max-width: 539px) {

    .landing__image:nth-of-type(2) {
        display: none;
    }

}

@media only screen and (max-width: 809px) {

    .landing__image:nth-of-type(3) {
        display: none;
    }

}