form * {
    display: block;
    margin: 0 auto;
    text-align: center;
    border: none;
}

form > div {
    margin: 10px 0;
}

form input {
    height: 25px;
}

#signup {
    margin-top: 20px;
}

h3 {
    margin-top: 0;
    font-size: 25px;
}

.form-error {
    color: #C93A2B;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-error-large {
    margin-top: -15px;
    margin-bottom: 20px;
    font-size: 15px;
}