.home__library {
    background-color: #01C76E;
    padding: 40px;
    height: auto;
}

.home__gameslist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.home__game {
    margin: 0 15px;
    flex: auto;
}

.home__editGame {
    margin: 0 3px;
    font-size: calc(11px + 1vmin);
    font-weight: normal;
    padding: 6px 30px;
    color: black;
    border-radius: 5px;
    border: none;
    background-color: #E4E3E3;
    cursor: pointer;
}


a {
    text-decoration: none;
    color: black
}

a:visited {
    color: black;
}