.cartridge__body {
    width: 400px;
    height: 400px;
    padding: 30px 0;
    background-color: rgb(228, 227, 227);
    border-radius: 10px;
    margin: 10px auto;
}

.cartridge__image > img {
    border-radius: 10px;
    width: 250px;
    height: 318px;
}

.cartridge__title {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Passion One', cursive;
    text-transform: uppercase;
}

.cartridge__subtitle {
    font-weight: 100;
    font-size: 18px;
    font-family: 'Open sans', sans-serif;
    text-transform: none;
    margin-top: -43px;
}

@media only screen and (max-width: 422px) {
    .cartridge__body {
        width: 250px;
        height: auto;
    }

    .cartridge__image > img {
        width: 200px;
    }
}