.cartridge__body {
    width: 400px;
    height: 400px;
    padding: 30px 0;
    background-color: rgb(228, 227, 227);
    border-radius: 10px;
}

.cartridge__image > img {
    border-radius: 10px;
    width: 250px;
}

.cartridge__title {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Passion One', cursive;
    text-transform: uppercase;
}