.hero__wrapper {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url(/children-on-computer.jpg) no-repeat center 35%;
    background-size: cover;
    height: 400px;
}

.hero__title {
    text-shadow: 0 0 20px rgba(0,0,0,.45);
    font-family: 'Fascinate Inline', cursive;
    margin-bottom: 10px;
    font-size: 70px;
    color: white;
}

.hero__subtitle {
    text-shadow: 0 0 20px rgba(0,0,0,.65);
    font-style: italic;
    font-weight: bold;
    margin-top: 0px;
    font-size: 35px;
    color: white;
}

.landing__wrapper {
    height: 350px;
}

.landing__wrapper:nth-child(2) {
    background-color: white;
    height: auto;
    padding: 30px 0;
}

.landing__wrapper:nth-child(3) {
    background-color: grey;
}

.landing__wrapper:nth-child(4) {
    background-color: #01C76E;
}

.landing__wrapper:nth-child(5) {
    background-color: #F2F2F2;
    height: 500px;
}

.landing__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding-top: 50px;
}

.landing__subtitle {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
}

.landing__image {
    height: 250px;
    border: 5px solid #FFD301;
    margin: 0 20px;
}

.landing__image:nth-of-type(1) {
    transform: rotateZ(-3deg);
}

.landing__image:nth-of-type(2) {
    transform: rotateZ(5deg);
}