.loginForm *, .logoutForm * {
    display: inline-block;
}

.loginForm > div {
    margin-top: -20px;
}

.logoutForm > div {
    margin-top: -17px;
}

.logoutForm > form {
    margin: -1px 3px;
    padding: 0;
}

.loginForm > form {
    margin: -10px 3px;
    padding: 0;
}

.logoutForm > form {
    margin: -10px 3px;
    padding: 0;
}

.loginForm input {
    width: 150px;
    margin: 0 3px;
}

.logoutForm input {
    width: 150px;
}

.loginForm button {
    margin-top: 7px;
}