.progressBar {
    margin-top: 20px;
    width: 90vw;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

.progressBar p {
    margin: 10px 0 0 0;
    color: white;
    font-size: bold;
}