.moodBar {
    position: absolute;
    bottom: -10px;
}

.message {
    height: auto;
    width: 90vw;
    line-height: 25px;
    word-wrap: break-word;
    position: relative;
    top: 5px;
    left: 0;
    z-index: 0;
    color: white;
    margin-top: 40px;
}

.startText {
color: white;
font-size: calc(10px + 2vmin);
}

.startText p {
margin: 0;
}

.App-body {
height: 60vh;
margin: 0 auto;
max-width: 1300px;
}

.controlsContainer {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
margin: 0 auto;
padding: 10px 10px 30px 10px;
height: auto;
background-color: #3683D0
}

.wordContainer {
margin: 40px auto 0px auto;
}

form {
margin-top: 0px;
}

input[type="text"] {
height: 4vh;
width: 75vw;
display: block;
padding: 5px;
background-color: rgb(226, 226, 226);
font-size: calc(5px + 2vmin);
border: none;
}

.submit {
margin-top: 15px;
font-size: calc(12px + 1vmin);
font-weight: bold;
height: auto;
color: black;
background-color: #538fbe;
padding: 15px 40px;
border-radius: 5px;
border:1px solid rgba(59, 58, 99, 0.5);
background-color: #F8CE46;
}

.submit:focus {       
outline-color: #F8CE46;
}

.submit:active {
background-color: rgb(233, 193, 64);
}
