.happyButton, .sadButton {
    margin: 15px 3px 0 3px;
    font-size: calc(13px + 1vmin);
    font-weight: bold;
    height: auto;
    padding: 10px 35px;
    color: white;
    border-radius: 5px;
}

.happyButton:active, .sadButton:active {
    transition: all 30ms ease-in-out;
}

.happyButton {
    border:1px solid #88BC42;
    background-color: #88BC42;
}

.happyButton:focus {
    outline-color: #88BC42;
}

.happyButton:active {
    border: 1px solid rgb(125, 173, 62);
    background-color: rgb(125, 173, 62);
}

.sadButton {
    border:1px solid #C93B2B;
    background-color: #C93B2B;
}

.sadButton:focus {
    outline-color: #C93B2B;
}

.sadButton:active {
    border:1px solid rgb(194, 57, 42);
    background-color: rgb(194, 57, 42);
}

@media only screen and (max-width: 640px) {
    .happyButton, .sadButton {
        padding: 5px 20px;
    }

}