.reset-game {
    margin-top: 15px;
    font-size: calc(10px + 1vmin);
    font-weight: normal;
    height: auto;
    padding: 10px 30px;
    color: black;
    border-radius: 5px;
    border: none;
    background-color: rgb(195, 227, 248);
}

.wordBox {
    width: 75%;
    margin: 10px;
}