.logoutForm {
    display: flex;
    flex: auto;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.loginForm {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.loginForm input {
    height: 25px;
    margin: 0 10px;
    border: none;
    text-align: center;
    background-color: #F2F2F2;
}

.home, .library, .exercises, .logout, #login, #demo {
    font-weight: bold;
    color: white !important;
    font-size: 18px;
    margin: 0 10px;
    flex: 1;
}

#login, #demo {
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: #0166FF;
    cursor: pointer;
}

.logout {
    background-color: #0166FF;
    border: none;
}

@media only screen and (min-width: 360px) and (max-width: 453px) {

    .loginForm {
        display: block;
    }

    .loginForm input {
        margin: 5px auto;
    }

    #login, #demo {
        margin: 0 auto;
    }


}