.loginForm *, .logoutForm * {
    display: inline-block;
}

.loginForm input {
    width: 150px;
    height: 25px;
    margin: 0 3px;
    border: none;
    text-align: center;
}

.logout, #login, .library, .exercises, .home {
    margin: 0 3px;
    font-size: calc(11px + 1vmin);
    font-weight: normal;
    padding: 6px 30px;
    color: black;
    border-radius: 5px;
    border: none;
    background-color: rgb(195, 220, 248);
    cursor: pointer;
}

.home {
    display: none;
}

@media only screen and (min-width: 312px) and (max-width: 500px) {
    .loginForm {
        margin: 0 auto;
        float: none;
    }

    .loginForm > form * {
        display: block;
        margin: 3px auto;
    }

    .loginForm > form > label {
        display: none;
    }

    .loginForm > form > button {
        height: 32px;
        padding: 0 30px;
    }

    .loginForm > form > input {
        height: 25px;
    }

    .logoutForm {
        padding-top: 16px;
    }

    .home {
        display: inline-block;
    }

}