.loginForm *, .logoutForm * {
    display: inline-block;
}

.loginForm > div {
    margin-top: -20px;
}

.logoutForm > div {
    margin-top: -17px;
}

.logoutForm > form {
    margin: -1px 3px;
    padding: 0;
}

.loginForm > form {
    margin: -10px 3px;
    padding: 0;
}

.logoutForm > form {
    margin: -10px 3px;
    padding: 0;
}

.loginForm input {
    width: 150px;
    height: 30px;
    margin: 0 3px;
    border: none;
}

.loginForm button {
    margin-top: 7px;
}

.logout, .login, .library, .exercises, .home {
    margin: 15px 3px 0 3px;
    font-size: calc(10px + 1vmin);
    font-weight: normal;
    height: auto;
    padding: 10px 30px;
    color: black;
    border-radius: 5px;
    border: none;
    background-color: rgb(195, 220, 248);
    cursor: pointer;
}

.home {
    display: none;
}

@media only screen and (min-width: 312px) and (max-width: 500px) {
    .loginForm {
        margin: 0 auto;
        float: none;
    }

    .loginForm > form * {
        display: block;
        margin: 3px auto;
    }

    .loginForm > form > label {
        display: none;
    }

    .loginForm > form > button {
        height: 32px;
        padding: 0 30px;
    }

    .loginForm > form > input {
        height: 25px;
    }

    .logoutForm {
        padding-top: 16px;
    }

    .home {
        display: inline-block;
    }

}