form * {
    display: block;
    margin: 0 auto;
    text-align: center;
}

form > div {
    margin: 10px 0;
}

#signup {
    margin-top: 20px;
}

h3 {
    margin-top: 0;
    font-size: 25px;
}

.form-error {
    color: #C93A2B;
    font-size: 12px;
}